.float {
  float: left;
}

body {
  line-height: 1cm;
  word-spacing: 3px;
  background-image: url("code.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 2cm;

}

 h6 {
   background-color: #ccf2ff;
   font-style: italic;
 }

 #cresult, #javascresult, #pythonresult {
   display: none;
 }

button {
  height:60px;
  width:60px;
  border-radius: 12px;
  background-color: #82a0ad;
  color: white;
}

.container {
  background-color: rgba(0, 0, 0, 0.7);
  font-family: Playful Display;
  font-weight: bold;
  color: #bdf0ff;
}

h5 {
  color: white;
  font-family: Montserrat;
}
h2, button  {

font-family: 'Montserrat';

color: #01223D;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #2580f7, 0 0 30px #2580f7, 0 0 40px #2580f7, 0 0 55px #2580f7, 0 0 75px #2580f7;
}
