.float {
  float: left;
}

body {
line-height: 1cm;
word-spacing: 3px;
background-image: url("code.jpg");
background-repeat: no-repeat;
background-size: cover;

}

 h6 {
   background-color: #ccf2ff;
   font-style: italic;
 }

 #cresult, #javascresult, #pythonresult {
   display: none;
 }

button {
  height:60px;
  width:60px;
  border-radius: 12px;
  background-color: #82a0ad;
  color: white;
}
.container {
  background-color: rgba(0, 100, 130, 0.5);;
